<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headTag :: headTag">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div id="wrap">
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<!--<div th:replace="fragments/controlBar :: leftControlBar"></div>-->
    <div th:replace="fragments/controlBar :: leftControlBar"></div>

<!--must be templated!-->
<div th:if="${infoMessage}" class="alert alert-info">
    <p th:text="${infoMessage}">[info]</p>
</div>

<h2 th:text="${product.name}">[title]</h2>
    <div class="product-info-container">
        <div class="product-info-container-inner">
            <div class="info-top">
                <div class="img-wrapper">
                    <img class="img-big" th:src="@{'/resources/img/' + ${product.imgUrl} ?: 'none.png'}" alt="product image"/>
                </div>

                <div class="soft-info">
                    <div class="soft-info-content">
                        <a th:text="'$' + ${product.price}" class="price">[price]</a>
                        <br/>
                        <div class="inline">
                            <a class="inventory" th:text="${product.inventory} > 0 ? 'in-stock' : 'out-of-stock'"
                                th:classappend="${product.inventory} > 0 ? 'available' : 'not-available'">[inventory]</a>
                            <form class="addToCart-form"
                                th:action="@{/products/addToCart/{id}(id=${product.id})}" method="post">
                                <button type="submit" class="btn btn-success" th:text="#{label.addToCart}"
                                    th:disabled="${product.inventory == 0}">[buy]</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div id="adminDiv" th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
                    <a th:href="@{/products/db/edit/{id}(id=${product.id})}">EDIT</a>
                </div>

            </div>
            <br/>
            <div class="info-bottom">
                <div class="info-bottom-inner">
                    <p class="overview-description" th:utext="${product.description}">[overview]</p>

                    <!--TODO: implement tabular navigation!-->

                    <div class="tech-info">
                        <div class="description">
                            <dl class="detail-chars-l">
                                <div class="detail-chars-l-i"
                                     th:each="characteristic : ${product.technicalCharacteristics}">
                                    <dt class="detail-chars-l-i-title" th:text="#{${characteristic.key}}">[char-key]</dt>
                                    <dd class="detail-chars-l-i-field" th:text="${characteristic.value}">[char-value]</dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
	$('.addToCart-form').submit(function (event) {
		event.preventDefault();
		var url = $(this).attr('action');
		var posting = $.post(url);
		posting.done(function (data) {
			var $cart = $(data).find('#cart');
			$('#cart').text($cart.html());
		});
	});
</script>

<a th:href="@{/products/list}">Continue shopping</a>

    <div id="push"></div>
</div>
<!--<div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'"></div>-->
<div th:replace="fragments/footer :: ${#httpServletRequest.isUserInRole('ROLE_ADMIN')} ? 'footer-admin' : 'footer'"></div>
</body>
</html>