<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headTag :: headTag">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div id="wrap">

<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<!--<div th:replace="fragments/controlBar :: leftControlBar"></div>-->
<div th:replace="fragments/controlBar :: leftControlBar"></div>

<div id="resultsBlock">

</div>

<div th:if="${infoMessage}" class="alert alert-info">
    <p th:text="${infoMessage}">[info]</p>
</div>

<div class="main-container">
	<div class="product-container" th:unless="${#lists.isEmpty(products)}"
			th:each="product : ${products}">
		<div class="product-container-inner">
			<div class="upper-part">
				<div class="img-wrapper">
					<img class="medium" th:src="@{'/resources/img/' + ${product.imgUrl} ?: 'none.png'}" alt="product image"/>
				</div>

				<div class="upper-info">
					<a class="title" style="display:block;width:100%;" th:href="@{/products/info/{id}(id=${product.id})}"
						th:text="${product.name}">[title]</a>

					<!--<span style="display:block;">
						<a class="price" th:text="${product.price}">[price]</a>
						<form th:action="@{/products/addToCart/{id}(id=${product.id})}"
							method="post" class="addToCart-form">
							<button type="submit" class="btn btn-success" th:text="#{label.addToCart}">[buy]</button>
						</form>
					</span>-->

					<span style="display:block;width:50%;border:1px solid red;float:left;"><a class="price" th:text="${product.price}">[price]</a></span>
					<span style="display:block;width:50%;border:1px solid red;float:right;">
						<form th:action="@{/products/addToCart/{id}(id=${product.id})}"
							  method="post" class="addToCart-form" style="float:right;">
							<button type="submit" class="btn btn-success" th:text="#{label.addToCart}"
										th:disabled="${product.inventory == null or product.inventory == 0}">[buy]</button>
						</form>
					</span>
				</div>
			</div>
			<div class="lower-part">
				<div class="lower-info">
					<div class="short-detail">
						<span th:text="'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.'">
							[short-detail]</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<div th:replace="fragments/footer :: ${#authentication.principal.isAdmin()} ? 'footer-admin' : 'footer'"></div>-->
<div th:replace="fragments/footer :: ${#httpServletRequest.isUserInRole('ROLE_ADMIN')} ? 'footer-admin' : 'footer'"></div>
<!--<script>
	$('.addToCart-form').submit(function (event) {
		event.preventDefault();
		var url = $(this).attr('action');
		var posting = $.post(url);
		posting.done(function (data) {
			var $cart = $(data).find('#cart');
			$('#cart').text($cart.html());
		});
	});
</script>-->
<!--<a th:if="${products.hasPrevious()}" th:href="@{'/products/list(page=${products.number - 1})}">Prev</a>
<a th:if="${products.hasNext()}" th:href="@{'/products/list/?page=' + ${products.number + 1}}">Next</a>
<span th:if="${#lists.isEmpty(products)}" th:remove="tag"><i>No products yet...</i></span>
<a th:href="@{/products/new}" class="btn btn-info">New</a>-->
</div>
</body>
</html>
