<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headTag :: headTag">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <div id="contentWrapper">
    <div th:fragment="signupForm">
        <h2>Create an Account</h2>
        <p>
            Account contains your personal data like billing, shipping and credit card information
            hence making checkout easier.
        </p>

        <div id="customer-info">
        <form th:action="@{/signup}" method="post" th:object="${signupForm}">
            <div class="alert-error alert" th:if="${#fields.hasErrors('*')}">
                <p th:each="error : ${#fields.errors('*')}" th:text="${error}">[error]</p>
            </div>
            <div class="form-element">
                <label for="firstname" th:text="#{customer.label.firstname}">[first]</label>
                <input id="firstname" type="text" th:field="*{customer.firstname}"/>
            </div>
            <div class="form-element">
                <label for="lastname" th:text="#{customer.label.lastname}">[last]</label>
                <input id="lastname" type="text" th:field="*{customer.lastname}"/>
            </div>
            <div class="form-element">
                <label for="email1" th:text="#{customer.label.email}">[email]</label>
                <input id="email1" title="it'll be your login" type="text" th:field="*{customer.email}"/>
            </div>
            <div class="form-element">
                <label for="password1" th:text="#{customer.label.password}">[password]</label>
                <input id="password1" type="password" th:field="*{password}"/>
            </div>
            <div class="form-element">
                <label for="phone" th:text="#{customer.label.phoneNumber}">[phone]</label>
                <input id="phone" type="text" th:field="*{customer.phoneNumber}"/>
            </div>
            <div class="form-element">
                <label for="street" th:text="#{address.label.street}">[street]</label>
                <input id="street" type="text" th:field="*{address.street}"/>
            </div>
            <div class="form-element">
                <label for="city" th:text="#{address.label.city}">[city]</label>
                <input id="city" type="text" th:field="*{address.city}"/>
            </div>
            <div class="form-element">
                <label for="country" th:text="#{address.label.country}">[country]</label>
                <input id="country" type="text" th:field="*{address.country}"/>
            </div>
            <div class="form-actions">
                <button type="submit">Sign Up</button>
            </div>
        </form>
            </div>
    </div>
        <div id="push"></div>
    </div>
    <div th:replace="fragments/footer :: ${#httpServletRequest.isUserInRole('ROLE_ADMIN')} ? 'footer-admin' : 'footer'"></div>



</body>
</html>