<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headTag :: headTag">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <div class="shoppingCart" th:fragment="cart">
        <div class="cartContainer">
            <div class="lineItem" th:each="item : ${cart.contents}">
                <div class="img-wrapper">
                    <img class="small" th:src="@{'/resources/img/' + ${item.product.imgUrl} ?: 'demo.jpg'}"/>
                </div>
                <div class="itemInfoBox">
                    <a class="price" th:text="${item.product.price}">[price]</a>
                    <p th:text="${item.quantity}">[quantity]</p>
                    <p th:text="${item.total}">[total]</p>
                </div>
                <div class="shortInfo">
                    <dl class="detail-chars-l">
                        <div class="detail-chars-l-i"
                             th:each="characteristic : ${item.product.technicalCharacteristics}">
                            <dt class="detail-chars-l-i-title" th:text="#{${characteristic.key}}">[char-key]</dt>
                            <dd class="detail-chars-l-i-field" th:text="${characteristic.value}">[char-value]</dd>
                        </div>
                    </dl>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</body>
</html>