<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <!--<div th:fragment="loginForm" class="login-wrapper">
        <form action="#" method="post">
            <div class="form-element">
                <label for="username">Username:</label>
                <input id="username" type="text" name="whatever"/>
            </div>
            <div class="form-element">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" />
            </div>
            <div class="form-actions">
                <button type="submit">LOGIN!</button>
            </div>
        </form>
    </div>-->

    <div th:fragment="signup" class="signup-wrapper">
        <form th:action="@{/signup}" method="post" th:object="${signupForm}">
            <!--<div class="alert-error" th:if="${#fields.hasErrors('*')}">
                <p th:each="error : ${#fields.errors('*')}">[error]</p>
            </div>-->
            <div class="form-element">
                <label for="email">Email</label>
                <input id="email" type="text" name="email"/>
            </div>
            <div class="form-element">
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" />
            </div>
            <div class="form-actions">
                <button type="submit">LOGIN!</button>
            </div>
        </form>
    </div>
</body>
</html>