
    <div th:fragment="bodyHeader" class="navbar-horizontal">
        <div class="navbar-inner">
            <ul class="nav">
                <li>
                    <a th:href="@{/}" th:classappend="${#httpServletRequest.servletPath == '/'} ? 'active'"
                       th:text="#{navigation.label.main}">main</a>
                    <!--<a th:href="@{/}" th:classappend="${page == '/' ? 'active' : ''}" th:text="#{navigation.label.main}">[main]</a>-->
                </li>
                <li>
                    <a th:href="@{/about}" th:classappend="${#httpServletRequest.servletPath == '/about'} ? 'active'"
                       th:text="#{navigation.label.about}">[about]</a>
                    <!--<a th:href="@{/about}" th:classappend="${page == '/about' ? 'active' : ''}" th:text="#{label.about}">[about]</a>-->
                </li>
                <li class="left">
                    <a th:href="@{/products/}" th:classappend="${#httpServletRequest.servletPath == '/products/'} ? 'active'">products</a>
                </li>
                <!--<ul class="right">-->
                    <li>
                        <a th:if="${#httpServletRequest.remoteUser == null}" th:href="@{/signin}" class="btn btn-success">Sign In</a>
                        <div th:unless="${#httpServletRequest.remoteUser == null}">
                            <span th:text="'Logged as ' + ${#httpServletRequest.userPrincipal.name}">[name]</span>
                            <a th:href="@{/logout}" class="btn btn-info">Log Out</a>
                        </div>
                    </li>
                    <li>
                        <form th:action="@{/products/find}" method="get">
                            <span><input type="text" name="query" /> <button type="submit">find</button></span>
                        </form>
                    </li>
                    <li>
                        <a id="cart" href="#" class="btn btn-success btn-large" data-toggle="modal" data-target="#myModal"
                            th:text="${cart.numberOfProducts}">[cart]</a>
                    </li>
                <!--</ul>-->
            </ul>
        </div>

        <!--TODO: remove-->
        <div>
            <h2 th:text="|logged as ${#httpServletRequest.remoteUser}|">[user]</h2>
        </div>

        <!--Modal-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Cart</h4>
                    </div>
                    <div class="modal-body" id="myModalBody">Lorem ipsum</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success">Checkout</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>