<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headTag :: headTag">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div id="wrap">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>

    <div id="contentWrapper">
    <div th:replace="fragments/controlBar :: leftControlBar"></div>

    <div class="main-container">

        <div sec:authorize="!isAuthenticated()" class="alert alert-info">
            <span class="title">Log as admin</span>
            <ul class="vertical">
                <li>email: admin@ema.il</li>
                <li>password: admin</li>
            </ul>
            <br/>
            <span class="title">Log as customer</span>
            <ul class="vertical">
                <li>email: my.email@gmail.com</li>
                <li>password: password</li>
            </ul>
        </div>

        <div class="product-type"
             th:each="type : ${T(com.shop.springframework.domain.products.Product.Type).values()}">
            <div class="img-wrapper">
                <!--TODO: to make it smooth! :)-->
                <a th:href="@{/products/(type=${type.label})}">
                    <img class="medium index" th:src="@{'/resources/img/' + ${type} + '.jpg'}"/></a>
            </div>
            <div class="title-wrapper">
                <a class="title" th:href="@{/products/(type=${type.label})}" th:text="#{'navigation.label.type.' + ${type}}">[type]</a>
            </div>
        </div>
    </div>

    <div id="push"></div>
        </div>
</div>
<div th:replace="fragments/footer :: ${#httpServletRequest.isUserInRole('ROLE_ADMIN')} ? 'footer-admin' : 'footer'"></div>
</body>
</html>