<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/headTag :: headTag">
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div th:replace="fragments/controlBar :: leftControlBar"></div>
    <h2>Your cart contents</h2>
    <table class="table-cart">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price (for one)</th>
            <th>Quantity</th>
            <th>Sum</th>
        </tr>
        <tr th:each="item : ${cart.contents}"> <!--LineItem 'tis-->
            <td th:text="${itemStat.count}">[count]</td>
            <td th:text="${item.product.name}">[name]</td>
            <td th:text="${item.price}">[price]</td>
            <td th:text="${item.quantity}">[quantity]</td>
            <td th:text="${item.total}">[total]</td>
        </tr>
        <tfoot>
            <td colspan="4" class="align-right"><i>Total</i></td>
            <td class="align-center" th:text="${cart.total}">[total]</td>
        </tfoot>
        <tr th:if="${not #lists.isEmpty(cart.contents)}">
            <td>
                <form th:action="@{/products/cart/personalData}" method="post">
                    <button>Checkout</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>